/* 
font-family: 'Bebas Neue', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Racing Sans One', cursive;
 */

:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
}


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cf-darkblue);
    background-image: url("/img/LandingPage_576.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;


    font-family: 'Roboto', sans-serif;
}


.content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: end;

}

.logo {
    height: 3rem;
}

.titleText {
    font-family: 'Racing Sans One', cursive;
    color: var(--cf-light);
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.5rem;
}

.subTitle {
    font-family: 'Fira Sans', sans-serif;
    color: var(--cf-light);
    text-transform: uppercase;
    font-size: .96rem;
    font-weight: 300;
    letter-spacing: .05rem;
    line-height: .3rem;

}

.footer {
    flex-shrink: 0;
}

.navbar-brand,
.nav-item>a {
    color: var(--cf-light) !important;
}

/* START: MEDIA QUERIES */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        background-position: top center;
        background-size: contain;
        background-image: url(/img/LandingPage_768.png);
    }
    .titleText {
        font-size: 3rem;
        line-height: 1.8rem;
    }
    
    .subTitle {
        font-size: 1.1rem;
        letter-spacing: .09rem;
        line-height: .7rem;
    }
.content {
    padding-bottom: 5rem;
}


}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
body {
    background-size: cover;
    background-position: top;
    background-image: url(/img/LandingPage_992.png);
}
.content {
    justify-content: start;
    align-items: center;
    padding-left: 3rem;
}
.titleText {
    font-size: 3rem;
    line-height: 1.8rem;
}

.subTitle {
    font-size: 1.1rem;
    letter-spacing: .09rem;
    line-height: .7rem;
}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-image: url(/img/LandingPage_1200.png);
    }
    .titleText {
        font-size: 4rem;
        line-height: 2.3rem;
    }

    .subTitle {
        font-size: 1.5rem;
        letter-spacing: .11rem;
        line-height: 1rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        background-image: url(/img/LandingPage_1400.png);
    }
    .titleText {
        font-size: 5rem;
        line-height: 3.1rem;
    }

    .subTitle {
        font-size: 1.9rem;
        letter-spacing: .12rem;
        line-height: 1.8rem;
    }

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    body {
        background-image: url(/img/LandingPage_1920.png);
    }
    .titleText {
        font-size: 6rem;
        line-height: 3.7rem;
    }

    .subTitle {
        font-size: 2.2rem;
        letter-spacing: .17rem;
        line-height: 1.8rem;
    }

}

/* END: Media Queries */